ipython
ipywidgets
# jupyterlab is already installed in Dockerfile
matplotlib
# numpy is already installed with tensorflow
pandas
pytest
scikit-learn
scipy
seaborn
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
# tensorflow dependencies are already installed in Dockerfile
# TORCH AND ITS DEPENDENCIES are installed in Dockerfile
